.form {

}

.form__field {

}

.form__label {

}

.form__title {

}

.form__text {

}

.form__input {

}

.form__comment {

}

.form__comment-title {

}

.form__comment-text {

}

.form__button {
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 280px;
  display: block;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
}

.form__required {

}
