.form-headline {
  width: 320px;
  margin: 0 auto;
  padding: 27px 20px 0 20px;
  box-sizing: border-box;
}

.form-headline__title {
  margin: 0 0 37px 0;
}

.form-headline__offer {
  margin: 0 0 39px 0;
}


