.catalog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 25px;
  border-top: 1px solid #EBEBEB;
}

.catalog-item__image-link {
  width: 140px;
  height: 112px;
}

.catalog-item__image {
  margin: 0 auto;
  display: block;
}

.catalog-item__order {
  text-decoration: none;
  color: $white;
  background-color: #68b738;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 280px;
  display: block;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  flex-grow: 3;
}

