.gift {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-image: url(../../img/background/gift-background-mobile.jpg);
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  min-height: 290px;
  padding: 58px 0 44px 0;
  box-sizing: border-box;
}

.gift__image {
align-self: center;
}

.gift__info {
  margin: 0;
}
