.additional-products-list {
  list-style: none;
  margin: 0 0 36px 0;
  padding: 0;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin: 0 0 67px 0;
  }

  @media (min-width: $desktop-width) {
    // 1220px общая ширина 2 блоков, 896px ширина ul
    width: calc(896 / 1220) * 100%;
    margin: 0 0 86px 0;
  }
}
