.additional-products-list-item {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 18px 0;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    padding: 26px 38px 28px 38px;
    border-right: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    border-left: 0;
    border-right: 0;
    padding: 15px 0 16px 0;
  }
}

.additional-products-list-item__title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: -1px;
  }

  @media (min-width: $desktop-width) {
    width: 33.33%;
    margin: 0;
    align-self: center;
    top: -1px;
    left: 1px;
  }
}

.additional-products-list-item__count {
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;
  font-family: $Arial;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: end;
    margin: 0 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 33.33%;
    margin: 0;
    align-self: center;
    position: relative;
    left: 26px;
    top: 3px;
  }
}

.additional-products-list-item__price {
  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-left: 49px;
    position: relative;
    top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 49px;
    position: relative;
    left: -10px;
    top: 0;
  }

  &--two-digit {
    @media (min-width: $desktop-width) {
      position: relative;
      left: -20px;
    }
  }
}

.additional-products-list-item__price-count {
  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    top: 2px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    position: relative;
    top: 0;
  }
}

.additional-products-list-item__order {
  text-decoration: none;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    flex-grow: 10;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    width: calc(32% - 41px);
    margin-left: 53px;
  }
}
