.before-after-list {
  list-style: none;
  margin: 0 0 35px 0;
  padding: 0;
  display: flex;
  gap: 32px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 42px;
    width: 50%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: inherit;
  }
}

.before-after-list__item {
  padding: 14px 20px 17px 20px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 50%;
  max-height: 56px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-height: 72px;
  }
}

.before-after-list__value {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.before-after-list__title {
  margin-top: 8px;
  font-family: $Arial;
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  background-color: #eaeaea;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    margin-top: 12px;
    display: block;
    width: 142px;
  }
}
