.catalog-item {
  padding-bottom: 25px;
  padding-top: 19px;
  height: 209px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item__image-link {
  height: 112px;
  width: 50%;
  display: block;
}

.catalog-item__image {
  margin: 0 auto;
  display: block;
}

.catalog-item__card {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 112px;
}

.catalog-item__order {
  text-decoration: none;
  color: $white;
  background-color: $green;
  border: none;
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  flex-grow: 10;
  margin-top: 13px;

  &--all {
    background-color: $grey;
    color: $dark-grey;
  }
}

.catalog-item__title {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;

  &--all {
    color: #111111;
  }
}

.catalog-item__description {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  font-family: $Arial;
}
