.checkbox-control {
  visibility: visible;
}

.checkbox-control__input {
  visibility: visible;
}

.checkbox-control__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
