.checkbox-control {
  display: flex;
}

.checkbox-control__input {
  margin: 0;
  appearance: none;
  border-radius: 10%;
  border: 1px solid #cdcdcd;
  position: relative;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:checked::before {
    content: "";
    width: 19px;
    height: 15px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 19px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
    }
  }
}

.checkbox-control__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  align-self: center;
  margin-left: 16px;
  position: relative;
  bottom: 1px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
