.checkbox {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  column-gap: 12px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: -19px 0 2px 0;
    width: 100%;
    flex-direction: row;
    row-gap: 32px;
    column-gap: calc(100% - 442px);
  }
}

.checkbox__item {
  @media (min-width: $tablet-width) {
    width: 221px;
  }

  @media (min-width: $desktop-width) {
    width: 221px;
  }
}
