.comparison {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 50%;
  }
}

.comparison__fat-cat {
  display: block;
  margin: 0 auto;
}

.comparison__thin-cat {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.comparison__group {
  display: flex;
  justify-content: center;
}
