.copyright {
  padding: 19px 0 22px 0;
  display: flex;
  justify-content: space-between;

  &:hover .copyright__icon {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    gap: 22px;
    padding: 20px 0 22px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
    padding: 24px 0 22px 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: $Arial;
  align-self: center;
  position: relative;
  top: -2px;

  @media (min-width: $tablet-width) {
    align-self: center;
    top: 0;
  }
}

.copyright__link-logo {
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    align-self: center;
    margin-top: 7px;
  }
}

.copyright__icon {
  fill: #666666;
}
