.description-table {
  margin: 0;
  padding: 0;
}

.description-table__row {
  visibility: visible;
}

.description-table__cell {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  font-style: normal;
  font-family: $Arial;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  &:last-child {
    text-align: right;
  }
}
