.main-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background-color: $grey;
}

.main-footer__logo {
  margin: 0 auto;
  padding: 39px 0 32px 0;
  display: block;
}
