.main-nav {
  align-self: center;
  width: 100%;
  margin-bottom: -17px;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  &--closed .site-list {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--nojs .main-header__toggle {
    display: none;
  }

  &--opened .site-list {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }
}
