.offer {
  position: relative;
  background-color: $white;
  padding-top: 27px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 87px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 80px;
    min-height: 473px;
    position: static;
  }

  &::before {
    content: "";
    position: absolute;
    min-height: 302px;
    width: 100%;
    background: url("../../img/background/offer-background-mobile.jpg")
      no-repeat $green;
    z-index: -1;
    top: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      display: block;
      min-height: 694px;
      right: 0;
      z-index: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    min-height: 302px;
    width: 100%;
    background: rgba(104, 183, 56, 0.85) no-repeat;
    z-index: -1;
    top: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      display: block;
      min-height: 694px;
      right: 0;
      z-index: 1;
    }
  }
}

.offer__title {
  margin: 0 0 25px 0;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.offer__intro {
  margin: 0 0 29px 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.offer__button {
  text-decoration: none;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 100%;
  display: block;
  padding: 7px 10px 7px 10px;
  box-sizing: border-box;
  margin: 0 auto 30px auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px 14px 26px;
    width: 244px;
    margin: 0;
  }
}

.offer__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    z-index: -1;
    position: absolute;
  }
}
