.offer-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.offer-content-list__item {
  padding: 30px 20px 18px 20px;
  background-color: $grey;
  display: block;
  position: relative;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 77px 315px 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 59px 52px;
    margin-bottom: 71px;
    width: 50%;
  }
}

.offer-content-list__title {
  margin: 0 0 29px 71px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.offer-content-list__description {
  margin: 0 0 19px 0;
  padding: 0 0 23px 0;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  font-family: $Arial;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
    padding: 0;
  }
}

.offer-content-list__description-button {
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 50%;
    width: 24px;
    height: 12px;
    background: url("../../img/icons/arrow.svg") no-repeat center;
    transform: translateY(-50%) scaleX(1);
    transform-origin: center left;
    transition: transform 0.5s;

    @media (min-width: $tablet-width) {
      right: -50px;
    }
  }

  &:hover {
    &::after {
      transform: translateY(-50%) scaleX(1.4);
      transform-origin: center left;
      transition: transform 0.5s;
    }
  }
}

.offer-content-list__image-wrapper {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background: $green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 92px;
    left: inherit;
    right: 62px;
    width: 200px;
    height: 200px;
    background: $green;
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 47px;
    right: inherit;
    width: 100px;
    height: 100px;
    background: $green;
    border-radius: 50%;
  }
}

.offer-content-list__image {
  position: absolute;
  transform: translate(-50%, -50%);

  &--slim {
    top: 44%;
    left: 50%;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: 43%;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
    }
  }

  &--power {
    top: 49%;
    left: 50%;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
    }
  }
}
