.radio-control {
  display: flex;
}

.radio-control__input {
  margin: 0;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    opacity: 0.3;

    & ~ .radio-control__label {
      opacity: 0.3;
    }
  }

  &:checked {
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $green;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.radio-control__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-left: 15px;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
}
