.radio-control {
  visibility: visible;
}

.radio-control__input {
  visibility: visible;
}

.radio-control__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
