.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 65px;
    z-index: 5;
    background: $white;
    left: 0;
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 36px;
  }

  @media (min-width: $desktop-width) {
    gap: 35px;
  }
}

.site-list__item {
  @media (min-width: $desktop-width) {
    z-index: 2;
  }

  &:last-child {
    border: 0;
  }
}

.site-list__link {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 0 23px 0;
  position: relative;
  border-top: 1px solid #e6e6e6;
  margin-right: -20px;

  @media (max-width: $mobile-width-only) {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    border: 0;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 24px 0 23px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  &--active {
    @media (min-width: $tablet-width) {
      text-decoration-line: underline;
      text-decoration-color: $green;
      text-decoration-thickness: 2px;
      text-underline-offset: 10px;
    }
  }

  &--with-background {
    @media (min-width: $desktop-width) {
      color: $white;
      text-decoration-color: $white;
    }

    &:hover {
      @media (min-width: $desktop-width) {
        color: rgba($white, 0.6);
      }
    }

    &:active {
      @media (min-width: $desktop-width) {
        color: rgba($white, 0.3);
      }
    }
  }
}
