.social {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  gap: 24px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.social__item {
  visibility: visible;
}

.social__link {
  &--vkontakte {
    visibility: visible;
  }

  &--youtube {
    visibility: visible;
  }

  &--telegram {
    visibility: visible;
  }
}
