.social {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  gap: 27px;
  justify-content: center;
  margin-left: -3px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 23px 0 20px 0;
    margin-left: 19px;
  }
}

.social__item {
  align-self: center;
}

.social__link {
  &--vkontakte {
    visibility: visible;
  }

  &--youtube {
    visibility: visible;
  }

  &--telegram {
    visibility: visible;
  }
}
