.work-list {
  padding: 0 0 49px 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 37px;
    padding: 0 0 47px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 37px;
    padding: 0 0 26px 0;
    border: 0;
  }
}

.work-list__item {
  visibility: visible;
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 246px;
    min-height: 280px;
    gap: 31px;
  }
}

.work-list__image-wrapper {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  background: $green;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 166px 0 0;
    min-width: 80px;
    min-height: 80px;
  }
}

.work-list__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-list__text {
  margin: 0;
  font-family: $Arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
