.contacts {

}

.contacts__wrapper {
  padding: 26px 0 26px 0;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
  font-family: $Arial;
}

.contacts__map-google {
  position: relative;
  left: -20px;
  display: block;
}

