.description-table {
  margin: 0;
  padding: 0;
}

.description-table__row {

}

.description-table__cell {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  font-style: normal;
  font-family: $Arial;
}
