.page {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  color: #000000;
  min-height: 100%;
  margin: 0;
}

.page__body {
  
}
