.range {
  margin: 0 auto;
  text-align: center;
}

.range__button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}

.range__scale {

}

.range__bar {

}

