@import "./fonts";
@import "./global/variables";
@import "./blocks/additional-products-list-item";
@import "./blocks/additional-products-list";
@import "./blocks/additional-products";
@import "./blocks/before-after-list";
@import "./blocks/before-after";
@import "./catalog-item";
@import "./blocks/catalog";
@import "./blocks/checkbox-control";
@import "./blocks/checkbox";
@import "./blocks/comparison";
@import "./blocks/contacts";
@import "./blocks/container-catalog";
@import "./blocks/copyright";
@import "./blocks/description-table";
@import "./blocks/form-headline";
@import "./blocks/form";
@import "./gift";
@import "./blocks/main-container";
@import "./blocks/main-footer";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./offer-content-list";
@import "./blocks/offer-content";
@import "./offer";
@import "./blocks/page";
@import "./blocks/radio-button";
@import "./blocks/radio-control";
@import "./blocks/range";
@import "./blocks/site-list";
@import "./blocks/social";
@import "./blocks/work-list";
@import "./blocks/work";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
    color: rgba($color: $white, $alpha: 0.3);
  }
}
