.work-list {
  padding: 0 0 49px 0;
  margin: 0;
  list-style: none;
}

.work-list__item {
  visibility: visible;
}

.work-list__image {
  visibility: visible;
}

.work-list__text {
  margin: 0;
  font-family: $Arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}
